
<p id="notice"><%= notice %></p>

<h1>Squads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
      <th>Owner</th>
      <th colspan="50"></th>
    </tr>
  </thead>

  <tbody>
    <% @squads.each do |squad| %>
      <tr>
        <td><%= squad.name %></td>
        <td><%= squad.sport %></td>
        <td><%= User.find(squad.owner_id).name %></td>
        <td><%= link_to 'Show', squad %></td>
        <% if Squad.includes(:members).where( 'members.user_id' => params[:users]).exists? %>
        <td><%= link_to 'Join', join_squad_path(:id => squad) %></td>
        <% end %>
        <% if current_user.id == squad.owner_id %>
        <td><%= link_to 'Edit', edit_squad_path(squad) %></td>
        <td><%= link_to 'Destroy', squad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Squad', new_squad_path %>
