<p id="notice"><%= notice %></p>

<h1>Squads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @squads.each do |squad| %>
      <tr>
        <td><%= squad.name %></td>
        <td><%= squad.sport %></td>
        <td><%= squad.owner_id %></td>
        <td><%= link_to 'Show', squad %></td>
        <td><%= link_to 'Edit', edit_squad_path(squad) %></td>
        <td><%= link_to 'Destroy', squad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Squad', new_squad_path %>
