<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @squad.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @squad.sport %>
</p>

<p>
  <strong>Owner:</strong>
  <%= User.find(@squad.owner_id).name %>
</p>

<p>
  <strong>Members: <%= @members.size %></strong>
</p>

<p>
  <table>
  <% @members.each_with_index do |member, index| %>
    <tr>
      <td>Index</td>
      <td><%= index %></td>
    </tr>
    <tr>
      <td>Name: </td>
      <td><%= member.user.name %></td>
    </tr>
    <tr>
      <td>Membership: </td>
      <td><%= member.membership %></td>
      <% if (User.find(@squad.owner_id) == current_user) && (member.membership == 'request') %>
      <td><%= link_to 'Approve', approve_squad_member_path(member) %></td>
      <td><%= link_to 'Reject', reject_squad_member_path(member) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</p>
<% if current_user.id == @squad.owner_id %>
<%= link_to 'Edit', edit_squad_path(@squad) %> |
<% end %>
<% unless @squad.user_ids.include?(current_user.id) %>
<%= link_to 'Join', join_squad_path(@squad) %> |
<% end %>
<%= link_to 'Back', squads_path %>
