<br />
<br />

<% if (notice != nil) %>
<div class="w3-panel w3-display-container w3-pale-green w3-round-large w3-border">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-display-topright">X</span>
  <h3>Notice!</h3>
  <p><%= notice %></p>
</div>
<% end %>

<br>

<p>
  <strong>Name:</strong>
  <%= @squad.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @squad.sport %>
</p>

<p>
  <strong>Owner:</strong>
  <%= User.find(@squad.owner_id).name %>
</p>

<p>
  <strong>Members: <%= @members.size %></strong>
</p>

<p>
  <table class="w3-table-all w3-hoverable">
  <% @members.each_with_index do |member, index| %>
    <tr class="w3-hover">
      <td>Name</td>
      <td>Membership</td>
      <td></td>
      <td></td>
      <td></td>
      <td></tr>
    <tr class="w3-hover">
      <td><%= member.user.name %></td>
      <td><%= member.membership %></td>
      <% if (member.membership == 'request' && (User.find(@squad.owner_id) == current_user)) %>
      <td><%= link_to '<button class="w3-button">Approve</button>'.html_safe, approve_squad_member_path(@squad, member) %></td>
      <td><%= link_to '<button class="w3-button">Reject</button>'.html_safe, reject_squad_member_path(@squad, member) %></td>
      <% elsif %>
      <td></td>
      <td></td>
      <% end %>
      <% if (member.membership != 'owner' && (User.find(@squad.owner_id) == current_user)) %>
      <td><%= link_to '<button class="w3-button">Remove</button>'.html_safe, remove_squad_member_path(@squad, member) %></td>
      <% elsif %>
      <td></td>
      <% end %>
      <% if (member.membership == 'member' && (User.find(@squad.owner_id) == current_user)) %>
      <td><%= link_to '<button class="w3-button">Demote</button>'.html_safe, demote_squad_member_path(@squad, member) %></td>
      <% elsif %>
      <td></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</p>

<div class="menu-buttons">
  <% if current_user.id == @squad.owner_id %>
  <%= link_to '<button class="actions">Edit</button>'.html_safe, edit_squad_path(@squad) %>
  <% end %>
  <% unless @squad.user_ids.include?(current_user.id) %>
  <%= link_to '<button class="actions">Join</button>'.html_safe, join_squad_path(@squad) %>
  <% end %>
  <%= link_to '<button class="actions">Back</button>'.html_safe, squads_path %>
  </div>
