<br />
<br />

<% if (notice != nil) %>
<div class="w3-panel w3-display-container w3-pale-green w3-round-large w3-border">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-display-topright">X</span>
  <h3>Notice!</h3>
  <p><%= notice %></p>
</div>
<% end %>

<br />
<div class="menu-buttons">
  <%= link_to '<button class="actions">Create a Squad</button>'.html_safe, new_api_squad_path %>
  <%-# link_to '<button class="actions">Reset Database</button>'.html_safe, reset_db, data: { confirm: 'Are you sure?' } -%>
</div>
<br />

<br />
<div class="w3-container w3-teal">
  <h2>Squads</h2>
</div>
<br />

<table class="w3-table-all w3-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
      <th>Owner</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @squads.each do |squad| %>
      <tr class="w3-hover">
        <td><%= squad.name %></td>
        <td><%= squad.sport %></td>
        <td><%= User.find(squad.owner_id).name %></td>

        <td><%= link_to '<button class="w3-button">Roster</button>'.html_safe, api_squad_path(:id => squad) %></td>
        <% unless squad.user_ids.include?(current_user.id) %>
        <td><%= link_to '<button class="w3-button">Join</button>'.html_safe, join_api_squad_path(:id => squad) %></td>
        <% else %>
        <td></td>
        <% end %>
        <% if current_user.id == squad.owner_id %>
        <td><%= link_to '<button class="w3-button">Edit</button>'.html_safe, edit_api_squad_path(squad) %></td>
        <td><%= link_to '<button class="w3-button">Destroy</button>'.html_safe, api_squad_path(:id => squad), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
